*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.background-img{
  height: 100vh;
    width: 100%;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/hotelbg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   }
.card{
  opacity: 80%;
}
.card-one{
  position: relative;
  top: 350px;
  left: 10px;
  /* resize: horizontal;
  overflow: auto;
  height: auto;
  width: 50%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
  margin-top: 300px; */
}
.container-fluid{
  display: flex;
  flex-wrap: wrap;
}
@media  screen  and (max-width:425px) {
  .card-one{
    margin-left: 38px;
  }
  .card-one button{
    margin-left: 90px;
  }
}
@media  screen and  (max-width:375px) {
  .card-one{
    
    margin-left: 18px;
  }
  .card-one button{
    margin-left: 80px;
  }
}
@media  screen and  (max-width:320px) {
  .card-one{
    margin-left: 0.5px;
  }
  .card-one button{
    margin-left: 90px;
  }
}
@media  screen and  (max-width:320px) {
  .card-one{
    margin-left: 0.5px;
  }
  .card-one button{
    margin-left: 90px;
  }
}
@media  screen and  (min-width:768px) {
  .card-one{
    margin-left: 220px;
  }
  .card-one button{
    margin-left: 90px;
  }
}
@media  screen and  (min-width:1024px) {
  .card-one{
    margin-left: 420px;
  }
  .card-one button{
    margin-left: 90px;
  }
}



 